
.form-area {
    margin-left: 10px;
}

.campos {
    background-color: aqua;
}

.bg-gradient-primary {
    background-image: linear-gradient(180deg, #102EEF 10%, #EAEBF5 100%) !important;
    background-size: cover !important;
}

.footer-foo {
    background-image: linear-gradient(180deg, #102EEF 10%, #FEFEFE 100%) !important;
}

body {

    font-family: Calibri Light !important;
}
