
.form-area {
    margin-left: 10px;
}

.campos {
    background-color: aqua;
}

.bg-gradient-primary {
    background-image: linear-gradient(180deg, #2778c4 10%, #3a3b45 100%) !important;
    background-size: cover !important;
}

.footer-foo {
    background-image: linear-gradient(180deg, #2778c4 10%, #3a3b45 100%) !important;
}

body {

    font-family: Calibri Light !important;
}
